[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO={{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/user:MONGO token={{ token }} url=http://vault-internal.veerankitek.online:8200') }}
Environment=REDIS_URL='{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/user:REDIS_URL token={{ token }} url=http://vault-internal.veerankitek.online:8200') }}'
Environment=MONGO_URL="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/user:MONGO_URL token={{ token }} url=http://vault-internal.veerankitek.online:8200') }}"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target