[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/cart:REDIS_HOST token={{ token }} url=http://vault-internal.veerankitek.online:8200') }}"
Environment=CATALOGUE_HOST="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/cart:CATALOGUE_HOST token={{ token }} url=http://vault-internal.veerankitek.online:8200') }}"
Environment=CATALOGUE_PORT="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/cart:CATALOGUE_PORT token={{ token }} url=http://vault-internal.veerankitek.online:8200') }}"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target